---
import Clawd from "./Clawd.astro";

interface Props {
  name: string;
  userNum: number;
  class?: string;
  animationClass: string;
  flip?: boolean;
}

const { name, userNum, class: positionClass = "", animationClass, flip = false } = Astro.props;
const colorVar = `var(--color-retro-user-${userNum})`;
---

<div class:list={["absolute flex w-[100px] flex-col items-center", animationClass, positionClass]}>
  <Clawd color={colorVar} class:list={["w-[84px]", flip && "-scale-x-100"]} />
  <span class="font-vt -translate-y-4 text-2xl tracking-[1px]" style={`color: ${colorVar};`}>
    {name}
  </span>
</div>
